* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #90EE90;
    color: #2e7d32;
    line-height: 1.6;
  }

  main {
  margin-top: 100px; /* ajuste para ficar abaixo da topbar */
  padding: 20px;
}

 /* --Começo barra lateral e superior-- */  

  .topbar {
    background-color: #026F35;
    color: white;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    height: 80px;
  }
  
  .titulo-centro {
    flex-grow: 1;
    text-align: center;
  }
  
  .titulo-centro h1 {
    font-size: 1.8rem;
    font-weight: 900;
    letter-spacing: 1.5px;
  }
  
  .perfil-area {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .perfil-area img{
    width: 50px;
  }
  
  .perfil-icon {
    height: 35px;
    border-radius: 50%;
  }
  
  .sidebar {
    position: fixed;
    top: 70px;
    left: 0;
    width: 80px;
    height: calc(100vh - 70px);
    background-color: #026F35;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .sidebar nav ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar nav ul li {
    margin: 20px 0;
  }
  
  .sidebar nav ul li a img:hover {
    transform: scale(1.10);
  }
  
  .sidebar nav ul li img {
    width: 30px;
  }
  
/* --Fim barra lateral e superior-- */

.conteudo-horizontal {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap; /* para responsividade */
  padding: 20px;
}

/* Ajuste opcional de largura */
.grafico, .comentarios {
  flex: 1;
  min-width: 320px;
  max-width: 500px;
}

.grafico {
  max-width: 300px;
  margin: auto;
  margin-bottom: 40px;
  position: fixed;
  top: 100px;
  left: 100px;
  z-index: 10;
}

.comentarios {
  max-width: 600px;
  margin-left: 100px;
  
}

.comentarios table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 8px;
  overflow: hidden;
}


input[type="text"] {
  padding: 8px;
  width: 70%;
}

button {
  padding: 8px 16px;
  background-color: #3399ff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #267acc;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

td.data {
  text-align: right;
  font-size: 0.9em;
  color: #777;
}

.icon {
  width: 24px;
  height: 24px;
}
